{% extends "base.html" %}

{% block page_content %}

<div class="row">
  <br><br>
  <div class="col-md-5" id="msg-{{ msg.id }}">
    {% include "msg/_msg.html" %}

    {% if msg.item and msg.sender and current_user != msg.sender %}
      {% include "msg/_msg_reply.html" %}
    {% endif %}

  </div>

  {% if item %}
    {% include "main/_item_box.html" %}
  {% else %}
    <div class="col-md-5">
      <h5> Sorry, the item related to this message has been deleted</h5>
    </div>
  {% endif %}

</div>

{% endblock %}