{% extends "base.html" %}

{% block head %}
{{ super() }}
{{ JSGlue.include() }}
<script type=text/javascript src="{{
  url_for('static', filename='js/messages.js') }}"></script>
{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Notifications</h1>
</div>
<div class="row">
  <div class="col-md-4">
    <a href="javascript:messages('unread');">Unread</a><br>
    <a href="javascript:messages('sent');">Sent</a><br>
    <a href="javascript:messages('received');">Received</a><br>
  </div>
  <div class="col-md-6">
    <ul id="messages">
    {% for msg in msgs %}
      <li class="msg" id="msg-{{ msg.id }}">
        <a href="{{ url_for('msg.message', id=msg.id)}}">{{ msg.subject }}</a>
      </li>
    </ul>
    {% endfor %}
{% endblock %}