{% extends "base.html" %}

{% block head %}
{{ super() }}
{{ JSGlue.include() }}
<script type=text/javascript src="{{
  url_for('static', filename='js/messages.js') }}"></script>
{% endblock %}

{% block page_content %}
<div class="row">
<br><br>
  <div class="col-sm-4 col-md-3 col-lg-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-inbox"></i>
        Notifications</h3>
      </div>
      <ul class="list-group">
        <li class="list-group-item">
          <a href="javascript:messages('unread');">Unread</a>
        </li>
        <li class="list-group-item">
          <a href="javascript:messages('sent');">Sent</a>
        </li>
        <li class="list-group-item">
          <a href="javascript:messages('received');">Received</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-sm-8 col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading" id="title">Unread</div>
        <ul class="list-group" id="messages">
          {% for msg in msgs %}
            <li class="list-group-item msg" id="msg-{{ msg.id }}">
              <a href="{{ url_for('msg.message', id=msg.id)}}">
              {{ msg.subject }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}