{% extends "base.html" %}

{% block title %}TradyFit - List an item{% endblock %}

{% block page_content %}

<div class="row">
  <br>
  <div class="col-md-6 col-lg-6" id="item-creation">
    <div class="panel panel-warning">
      <div class="panel-heading">
        <h3 class="panel-title">List your item
        <i class="fa fa-cubes pull-right"></i></h3>
      </div>
      <div class="panel-body">
        {% include "main/_item_form.html" %}
      </div>
    </div>
  </div>
</div>
{% endblock %}