{% extends "base.html" %}

{% block title %}TradyFit - Item{% endblock %}

{% block page_content %}
<div class="row item-view">
<br><br>
  <div class="col-xs-11 col-sm-6 col-md-6" id="item-{{item.id}}">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">
          {{ item.name.capitalize() }}
        </h3>
      </div>
      <ul class="list-group">
        <li class="list-group-item">
          <i class="fa fa-map-marker"></i> {{ item.address }}
          <span class="pull-right">
            <i class="fa fa-tags"></i>
            <a href="{{ url_for('main.category', id=item.category_id) }}">
              {{ item.category.name.capitalize() }}
            </a>
          </span>
          <br><b>Price: </b>{{ item.price }}$
        </li>
      </ul>
      <div class="panel-body">
        {{ item.description|default('No description provided', true) }}
      </div>
      <div class="panel-footer">
        <div class="row">
          <div class="col-xs-2 col-sm-3 col-md-2" id="owner-avatar">
            <img class="img-circle" src="{{ item.user.avatar() }}" height="50"
            width="50">
          </div>
          <div class="col-xs-8 col-sm-7 col-md-6" id="owner-info">
            {% if item.modified %}
              <h5>Modified {{ moment(item.modified).fromNow(refresh=True) }}
            {% else %}
              <h5>Created {{ moment(item.timestamp).fromNow(refresh=True) }}
            {% endif %}
              by <i>@{{ item.user.username }}</i></h5>
          </div>
        </div>
      </div>
    </div>
    {% if current_user.is_authenticated() and current_user.id != item.user_id %}
      <p><a href="{{ url_for('msg.create', id=item.id) }}" class="btn btn-primary">Contact seller</a></p>
    {% endif %}
    {% if current_user.is_authenticated() and current_user.id == item.user_id %}
      <p><a href="{{ url_for('main.edit', id=item.id) }}">Edit</a> |
      <a href="{{ url_for('main.delete', id=item.id) }}">Delete</a></p>
    {% endif %}
    <br>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-5 pull-right" id="item-image">
    <img class="img-thumbnail" src="{{ item.image() }}">
  </div>
</div>
{% endblock %}