{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}TradyFit - Profile{% endblock %}

{% block page_content %}

<div class="row">
  <br><br>
  <div class="col-sm-4 col-md-3 col-lg-3" id="user-avatar">
    <img class="img-circle profile-avatar" src="{{ current_user.avatar() }}">
    <br><h3>@{{ current_user.username }}</h3>
  </div>
  <div class="col-sm-5 col-md-4" id="user-form">
    <div class="panel panel-warning">
      <div class="panel-body">
        {{ wtf.quick_form(form) }}
      </div>
      <div class="panel-footer">
        <a href="{{ url_for('main.delete_account') }}">Delete account</a>
      </div>
    </div>
  </div>
</div>

<div class="page-header">
{% if not items %}
  <h2>You haven't created any items yet</h2>
{% else %}
  <h1>Your listed items</h1>
{% endif %}
</div>

{% if request.MOBILE %}
  {% for item in items %}
    {% include "main/_item_box.html" %}
  {% endfor %}
{% else %}
  {% for item in items %}
    {% include "main/_item.html" %}
  {% endfor %}
{% endif %}
<br><br>
{% endblock %}