<div class="col-xs-12 col-sm-6 col-md-3">
  <div class="thumbnail" id="item-{{ item.id }}">
    <a href="{{ url_for('main.item', id=item.id) }}"><img src="{{ item.image() }}" alt=""></a>
    <div class="caption">
      <h4>{{ item.name.capitalize()|truncate(40, True) }}</h4>
      <h5>{{ item.description|default('No description provided', true)|truncate(100, True) }}
      <br>
      <h5><b>Price: </b>{{ item.price }}$
      <span class="pull-right">
      <i class="fa fa-tags"></i> {{ item.category.name.capitalize() }}</h5>
      </span>
      <hr>
      <div class="col-xs-3 col-sm-3 col-lg-3">
        <img class="img-circle" src="{{ item.user.avatar() }}" height="32"
        width="32">
      </div>
      <p><i class="fa fa-map-marker"></i> {{ item.address }}</p>
    </div>
  </div>
</div>