<div class="item-name">
  {{ item.name.capitalize() }}
</div>
<div class="item-description">
  {{ item.description.capitalize()|default('No description provided', true) }}
</div>
<div class="item-price">
  {{ item.price }}$
</div>
<div class="item-category">
  {{ item.category.name.capitalize() }}
</div>
<div class="item-image">
  <img class="img-thumbnail" src="{{ item.image() }}">
</div>
{% if item.modified %}
	<div class="item-modified">
    Modified {{ moment(item.modified).fromNow(refresh=True) }}
  </div>
{% else %}
	<div class="item-created">
    Created {{ moment(item.timestamp).fromNow(refresh=True) }}
  </div>
{% endif %}