{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<div class="page-header">
    <h1>Welcome to TradyFit</h1>
</div>
<div class="row">
  <div class="col-md-4" id="search-form">
      {{ wtf.quick_form(form) }}<br>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <ul class="items">
      {% for item in items %}
      <li class="item" id="item-{{ item.id }}">
      {% include "_item.html" %}
      </li>
      <br>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type=text/javascript>
$(function () {
  //remove #_=_ added from FB login redirect
  if (window.location.hash == '#_=_'){
      history.replaceState
          ? history.replaceState(null, null,
                       window.location.href.split('#')[0])
          : window.location.hash = '';
  };
});
</script>
{% endblock %}