{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<div class="page-header">
    <h1>Welcome to TradyFit</h1>
</div>
<div class="col-md-4" id="search-form">
    {{ wtf.quick_form(form) }}<br>
</div>
<div class="col-md-12">
	<ul class="items">
		{% for item in items %}
		<li class="item" id="item-{{ item.id }}">
			{% include "_item.html" %}
			<a href="{{ url_for('main.edit', id=item.id) }}">Edit</a> |
			<a href="{{ url_for('main.delete', id=item.id) }}">Delete</a>
		</li>
		{% endfor %}
	</ul>
</div>
{% endblock %}